<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DulceSabor_Modulo2</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DulceSabor_Modulo2.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: #e0e1dd">
                <div class="d-flex flex-column px-3 pt-4 text-black min-vh-100">
                    <ul class="nav nav-pills flex-column">
                        <li class="nav-item py-2">
                            <h1><a class="nav-link pb-3 me-md-auto text-dark text-decoration-none" asp-area="" asp-controller="Mesas" asp-action="Index">Dulce Sabor</a></h1>
                        </li>
                        <li class="nav-item py-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Mesas" asp-action="Index">Mesas</a>
                        </li>
                        <li class="nav-item py-2">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Cuentas" asp-action="Index">Cuentas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col py-3 px-5 pt-5">
                <div class="container">
                    <main role="main" class="">
                        @RenderBody()
                    </main>
                </div>
                
            </div>
        </div>
       
    </div>
    <footer class="border-top footer text-muted fixed-bottom py-2 text-center">
        <div class="container">
            &copy; 2024 - Dulce Sabor - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


