<form asp-action="Detalle">
    <div class="container">
        <div class="row py-4 justify-content-between w-100">
            <div class="col-md-6">
                <h2>Mesa 1</h2>
            </div>
            <div class="col-md-6 d-flex justify-content-end">
                <button type="button" class="btn btn-dark px-5">Estado</button>
            </div>
            <div class="py-5">
                <div class="row pb-4">
                    <div class="col-md-5">
                        <label for="nombre"><h5>Nombre</h5></label>
                    </div>
                    <div class="col-md-5">
                        <label for="nombre"><h5>Apellido</h5></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre aquí">
                    </div>
                    <div class="col-md-5">
                        <input type="text" class="form-control" id="nombre" placeholder="Escribe tu nombre aquí">
                    </div>
                    <div class="col-md-2 d-flex justify-content-center align-items-center" ">
                        <button class="btn btn-dark rounded-3 ms-4" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="row py-4">
                    <h5>Agregar Cliente</h5>
                </div>

                <div class="card mb-3 w-100 p-1 border-dark">
                    <div class="row g-0">

                        <div class="col-md-10">
                            <div class="card-body">
                                <p class="card-title">Nombre Cliente</p>
                                <p>Order ###</p>
                                <p class="card-text">Subtotal: $00.00</p>
                            </div>
                        </div>
                        <div class="col-md-2 pe-5 d-flex align-items-center justify-content-end">
                            <button class="btn btn-dark rounded-3" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
                                </svg>
                            </button>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</form>