<form asp-action="MostrarMesas">

    <h1>Mesas</h1>

    <br />
    @* Inicio del Formulario *@

    <div class="container">
        <ul class="nav nav-tabs border-dark" id="myTabs" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-dark" id="tabDisponible" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Disponibles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" id="tabOcupadas" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">No Disponibles</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tabDisponible">
                <div class="row py-4 d-flex">
                    @foreach (var mesa in (IEnumerable<dynamic>)ViewData["mesasDisponibles"])
                    {
                        <div class ="col-md-2 text-center py-3">
                                
                            <div class="card">
                                <a class="" href="@Url.Action("Detalle", "Mesas", new { Id = mesa.Id })">
                                    <div class="card-body">
                                        <img src="./img/mesas.png" alt="" width="100px" height="100px" />
                                    </div>
                                </a>
                            </div>
                            <div class="pt-3">
                                <small>Mesa @mesa.NumeroMesa <span class="badge text-white bg-primary"> Disponible</span></small>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tabOcupadas">
                <div class="row py-4 d-flex">

                    @foreach (var mesa in (IEnumerable<dynamic>)ViewData["mesasNoDisponibles"])
                    {
                        <div class="col-md-2 text-center py-3">

                            <div class="card">
                                <a class="" href="@Url.Action("Detalle", "Mesas", new { Id = mesa.Id })">
                                    <div class="card-body">
                                        <img src="./img/mesas.png" alt="" width="100px" height="100px" />
                                    </div>
                                </a>
                            </div>

                            <div class="pt-3">
                                <small>Mesa @mesa.NumeroMesa <span class="badge text-white bg-danger"> No Disponible</span></small>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
    @* Fin del Formulario *@
    @{
    }
</form>

