

    



<!--La vaina de Drigo jejejjejeje-->

<div class="container">
    <div class="row">
        <div class="col-md-10">
            <h1>Cuentas</h1>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs border-dark" id="myTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active text-dark" id="tab1-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">Abiertas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Cerradas</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                    <p>Cuenta en operacion</p>


                    <div class="card mb-3 w-100 p-1 border-dark">
                        <div class="row g-0">

                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Mesa #</h5>
                                    <p>Order #</p>
                                    <p class="card-text"><small class="text-muted">Nombre cuenta</small></p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <button class="btn btn-dark w-100 rounded ">Filtrar</button>
                            </div>

                        </div>
                    </div>



                </div>
                <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                    <p>Cuenta finalizada</p>

                    <div class="card mb-3 w-100 p-1  border-dark ">
                        <div class="row g-0">

                            <div class="col-md-10">
                                <div class="card-body">
                                    <h5 class="card-title">Mesa #</h5>
                                    <p>Order #</p>
                                    <p class="card-text"><small class="text-muted">Nombre cuenta</small></p>
                                </div>
                            </div>
                            <div class="col-md-2 d-flex align-items-center justify-content-center">
                                <button class="btn btn-dark w-100 rounded-pill  ">Filtrar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-2 mt-5">
            <h1>filtrar</h1>
            <!-- Filtro por ID -->
            <input type="text" id="filtroId" class="form-control mb-2" placeholder="ID">
            <button class="btn btn-dark w-100 rounded-pill" onclick="filtrarPorId()">Filtrar</button>
        </div>

    </div>
</div>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>





<!-- Modal Rick -->
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Prueba de modal cuentas

</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--  titulo dettalle y boton estado -->
                <div class="container text">
                    <div class="row">
                        <div class="col">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Detalles de la cuenta</h1>
                        </div>

                        <div class="col">

                            <div class="btn-1 justify-content-end d-flex">
                                <p>
                                    <button class="btn btn-dark btnestado">Estado</button>
                                </p>


                            </div>
                        </div>

                    </div>
                </div>


                <!-- Input texts -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-8 col-sm-6">

                                    <p class="orden text-sm-start">Orden ###</p>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-4 col-sm-6">

                                    <p class="mesa text-sm-start">Mesa #</p>
                                    <input type="text" class="form-control">

                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9 py-3">
                            <p class="nombre text-sm-start">Nombre</p>
                            <input type="text" class="form-control">


                        </div>

                        <!-- Input texts -->
                        <div class="col-sm-3  text-sm-center">

                            <div class="textotoal">
                                <p> Subtotal:<br>$38.75<br>Propina:<br>$1.25<br>Total:<br>$40.00</p>
                            </div>
                        </div>

                        <div data-bs-spy="scroll" data-bs-target="#simple-list-example" data-bs-offset="0" data-bs-smooth-scroll="true" class="scrollspy-example" tabindex="0">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-10">
                                            Platillo 1
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-dark btnPagar justify-content-end">Estado</button>
                                        </div>

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-10">
                                            Platillo 2
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-dark btnPagar">Estado</button>
                                        </div>
                                </li>
                            </ul>
                        </div>


                    </div>
                    <div class="modal-footer justify-content-center d-flex">
                        <button class="btn btn-dark btnPagar justify-content-center">Pagar</button>

                    </div>
                </div>
            </div>
        </div>
